body{
  background: linear-gradient(skyblue,yellowgreen)
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#n1{
 background-image: url(https://rukminim1.flixcart.com/image/416/416/kv8fbm80/poster/x/t/h/large-naruto-cool-rsnarutoposter484-original-imag86bq5r9g5avt.jpeg?q=70);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#n2{
  background-image: url(https://c4.wallpaperflare.com/wallpaper/889/768/64/anime-attack-on-titan-attack-on-titan-black-hair-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#n3{
  background-image: url(https://i.pinimg.com/736x/7f/0f/f7/7f0ff74f823fb4b68bb7ef0acdf357c8.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
